.block{
/*    border:.5px dashed grey;*/
    height: 100px;
    box-sizing: border-box;
}
.chat1{
    background-color:  lightpink;
    height: 80px;
    margin: 5px;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
}
.chater1{
    height: 70px;
    margin: 10px;
    border: .5px dashed grey;
    box-sizing: border-box;
}
.chat2{
    background-color:  lightblue;
    height: 80px;
    margin: 5px;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
}
.chater2{
    height: 70px;
    margin: 10px;
    border: .5px dashed grey;
    box-sizing: border-box;
}
.main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}