table {
    border-collapse: collapse;
    padding: 0;
}

.header {
    background-color: lightskyblue;
    font-weight: bold;
    position: fixed;
    margin-top: 0;
}

th {
    width: 120px;
    height: 50px;
    background-color: lightskyblue;
    margin: 0;    
}

td {
    width: 120px;
    height: 50px;
    text-align: center;
    margin: 0;
    min-width: 120px;
}

th:first-child {
    position: fixed;
}

tr:nth-child(even) {
    background: lightgray;
}
td,th{
    line-height: 50px;
}
