div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: lightgray;
    display: inline-block;
    border-radius: 15%;
    margin: 10px;
    
}
p{
    font-size: 120%;
    text-align: center;
}

h2,h4{
    text-align: center;
}