.content {
    display: flex;
    flex-wrap: wrap;
    background-color: #add8e6;
    width: 100vw;
    height: 1100px;
}

.el {    
    border: 1px dashed white;
    margin: 25px;
}
[class^="size"]{    
    font-size: 2em;
}

[class^="text"]{
    
    box-sizing: border-box;
    padding: 10px;
}

.size1 {
    width: 350px;
    height: 150px;
    background-color: lightgray;
}

.text1 {
    width: 350px;
    background-color: white;

}

.size2 {
    width: 350px;
    height: 100px;
    background-color: lightgray;    
}

.text2 {
    width: 350px;
    background-color: white;

}

.size3 {
    width: 350px;
    height: 100px;
    background-color: lightgray;    
}

.text3 {
    width: 350px;
    background-color: white;

}

.size4 {
    width: 350px;
    height: 220px;
    background-color: lightgray;   
}

.text4 {
    width: 350px;
    background-color: white;

}

.size5 {
    width: 350px;
    height: 230px;
    background-color: lightgray;
}

.text5 {
    width: 350px;
    background-color: white;

}

.size6 {
    width: 350px;
    height: 350px;
    background-color: lightgray;    
}

.text6 {
    width: 350px;
    background-color: white;

}

.size7 {
    width: 350px;
    height: 100px;
    background-color: lightgray;    ;
}

.text7 {
    width: 350px;
    background-color: white;

}

.size8 {
    width: 350px;
    height: 150px;
    background-color: lightgray;    
}

.text8 {
    width: 350px;
    background-color: white;

}

.size9 {
    width: 350px;
    height: 150px;
    background-color: lightgray;    
}

.text9 {
    width: 350px;
    background-color: white;

}
