@media screen and (min-width: 800px){
    
    img{
        width: 300px;    
    }
    .img{
        margin-bottom: 20px;
        border-radius: 15px;
        overflow: hidden;
    }
    
    .pimg{
        width: 300px;
        color: white;
        background-color: rgb(55,81,107);
        font-size: 75%;
        padding: 10px;
        text-align: right;
        box-sizing: border-box;
    }
    .rside{
        float: right;
        border-radius: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    p{
        width: 65vw;
        margin-left:  50px;
        margin-bottom: 50px;
        font-size: 120%;        
    }
    h2{
        margin-left: 50px;
    }
}