div {
    width:500px;
    background-color: lightpink;
    padding: 10px;
}
li{
    list-style-type: none;
    background-color: lightcoral;
        margin: 5px auto;
}
spun  
{
  background-color: coral;  
}